<!DOCTYPE html>

<html>
    
    <head>
    	<meta charset="UTF-8">
    	<title>{{app_name}}</title>
    	<meta name="theme-color" content="#3d91ce">
    	<link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css"/>
    	<link rel="stylesheet" type="text/css" href="/static/css/app.css"/>
        <link rel="icon" href="/static/images/favicon.png">
    </head>

    <body>
        
        <!-- -------------------- TOP NAVBAR -------------------- -->

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

            <a class="navbar-brand" href="#">
                <!-- <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo" style="width:40px;"> -->
                <strong style="font-family: Impact;">{{app_name}}</strong>
            </a>
            
        </nav>

        <!-- -------------------- PAGE CONTAINER -------------------- -->

        <div class="container-fluid" id="container">
            
            <div class="row">

                <!-- -------------------- SIDE NAVBAR -------------------- -->

                <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                    <ul class="nav nav-pills flex-column" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#home" data-toggle="tab">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#bpredict" data-toggle="tab">Processing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#results" data-toggle="tab">Results &nbsp;<span class="badge badge-info">{{files|length}}</span></a>
                        </li>
                    </ul>
                </nav>
                
                <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">


                    <!-- -------------------- LOADER -------------------- -->
                    
                    <div style="display:none;"  class="animate-bottom" id="loader"></div>

                    <div id="tab-container" class="tab-content">

                        <!-- -------------------- HOME TAB -------------------- -->

                        <div class="container tab-pane active" id="home">
                            <p style="text-align: center;">
                                <img class="img-fluid" src="{{url_for('static', filename='images/logo_index.png')}}" alt="{{app_name}} logo" width="300">
                            </p>
                            <p>
                                <strong>{{app_name}}</strong> is a toolkit that integrates several analysis for fully automated identification of potential neoantigens (pNeoAgs) which could be used in personalized immunotherapy due to their ability to elicit and boosting T-cell immune response. The input files must be RNA sequencing reads and/or somatic DNA mutations derived from Next Generating Sequencing to perform binding affinity prediction analysis of single- or multiple samples. neoANT-HILL also allows calculate transcript abundance level, HLA typing and quantification of tumor-infiltrating Immune cells. 
                            </p>
                            <hr/>
                            <img src="{{url_for('static', filename='images/pipeline.png')}}" class="img-thumbnail mx-auto d-block" alt="{{app_name}} pipeline" width="600">

                        </div>

                        <!-- -------------------- PROCESSING TAB -------------------- -->

                        <div class="container tab-pane fade" id="bpredict">

                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a id="tab_step1" class="nav-link active" data-toggle="tab" href="#menu0"><strong>1. INPUT FILES</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a id="tab_step2" class="nav-link" data-toggle="tab" href="#menu1" style="visibility: hidden;"><strong>2. ADDITIONAL ANALYSIS</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a id="tab_step3" class="nav-link" data-toggle="tab" href="#menu2" style="visibility: hidden;"><strong>3. BINDING AFFINITY PREDICTION PARAMETERS</strong></a>
                                </li>
                            </ul>

                            <div class="tab-content">

                                <!-- -------------------- BINDING PREDICTION INPUT TAB -------------------- -->

                                <div id="menu0" class="container tab-pane active"><br>

                                    <h5>
                                        Input 
                                        <span class="badge badge-info" data-toggle="tooltip" data-placement="right" title="Select your binding prediction input type. Then, choose the file(s).">?</span> 
                                    </h5>
                                    </br>
                                    <div class="form-group">
                                        <select class="form-control" id="input-type">
                                            <option value="vcf">VCF</option>
                                            <option value="bam">SAM/BAM(RNA-seq)</option>
                                        </select>
                                    </div>

                                    <div id="vcf-input">
                                        <div class="form-group">
                                            <input class="input-step1" type="file" id="vcf" accept=".vcf"/>
                                        </div>
                                    </div>

                                    <div id="bam-input" style="display: none;">
                                        <div class="form-group">
                                            <input class="input-step1" type="file" id="bam" accept=".bam, .sam" multiple/>
                                        </div>
                                    </div>

                                    <div id="genome-input" style="display: none;">
                                        <hr/>
                                        <h5>
                                            Genome
                                            <span class="badge badge-info" data-toggle="tooltip" data-placement="right" title="Select the genome assembly">?</span> 
                                        </h5>
                                        </br>
                                        <select class="form-control" id="input-genome">
                                            <option value="GRCh37">GRCh37</option>
                                            <option value="GRCh38">GRCh38</option>
                                        </select>
                                    </div>

                                    <hr/>
                                    
                                    <h5>
                                        Output
                                        <span class="badge badge-info" data-toggle="tooltip" data-placement="right" title="Choose the name of your output directory. A datestamp will be generated if the field is empty.">?</span> 
                                    </h5>
                                    </br>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="output" placeholder="output/[name your output directory]">
                                    </div>

                                    <hr/>

                                    <button type="button" id="btn_step2" class="btn float-right btn-circle" disabled>></button>

                                </div>

                                <!-- -------------------- FASTQ INPUT TAB -------------------- -->

                                <div id="menu1" class="container tab-pane fade"><br>

                                    <h5>
                                        FASTQ Files
                                        <span class="badge badge-info" data-toggle="tooltip" data-placement="right" title="If you have FASTQ files, select them to enable additional processing. If not, click next.">?</span> 
                                    </h5>
                                    </br>
                                    <div id="fastq-input">
                                        <div class="form-group">
                                            <input class="input-step2" type="file" id="fastq" accept=(".fastq", "fastq.gz") multiple/>
                                        </div>
                                    </div>

                                    <hr/>

                                    <h5>
                                        Additional Analysis
                                        <span class="badge badge-info" data-toggle="tooltip" data-placement="right" title="Select additional analysis to be performed">?</span> 
                                    </h5>
                                    </br>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label > <input class="function" type="checkbox" value="equantification" disabled>&nbsp; Transcript Abundance Quantification</label>
                                        </div>
                                        <div class="checkbox">
                                            <label > <input class="function" type="checkbox" value="linfiltrates" disabled>&nbsp; Tumor-Immune Infiltrates</label>
                                        </div>
                                        <div class="checkbox">
                                            <label > <input class="function" type="checkbox" value="aprediction" disabled>&nbsp; HLA typing</label>
                                        </div>
                                    </div>

                                    <hr/>

                                    <button type="button" id="btn_step3" class="btn btn-info float-right btn-circle">></button>
                                            
                                </div>

                                <!-- -------------------- BINDING PREDICTION PARAMETERS TAB -------------------- -->

                                <div id="menu2" class="container tab-pane fade"><br>

                                    <div class="row">

                                        <div class="col-sm-6">

                                            <h5>
                                                Class
                                                <span class="badge badge-info" data-toggle="tooltip" data-placement="right" title="Choose the class of HLA to perform binding prediction">?</span> 
                                            </h5>
                                            </br>
                                            <div class="form-group">
                                                <select class="form-control" id="class">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <h5>
                                                Method
                                                <span class="badge badge-info" data-toggle="tooltip" data-placement="right" title="Choose a prediction method. A list containing all available methods is shown according the class selected">?</span>
                                            </h5>
                                            </br>
                                            <div class="form-group">
                                                <select class="form-control" id="method"></select>
                                            </div>
                                        </div>

                                    </div>
                                    <hr/>
                                    <div class="row">

                                        <div class="col-sm-6">
                                            <h5>
                                                Length
                                                <span class="badge badge-info" data-toggle="tooltip" data-placement="right" title="Choose the length(s) of the peptide to perform binding prediction. Each method have a specific range of lengths because there is too little experimental data available to generate the allele/peptide length combination. If class 2, the length is fixed at 15-mers">?</span>
                                            </h5>
                                            </br>
                                            <div class="form-group">
                                                <select multiple class="form-control" id="length"></select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <h5>
                                                Parallel
                                                <span class="badge badge-info" data-toggle="tooltip" data-placement="right" title="Select the number of cores if parallel execution">?</span>
                                            </h5>
                                            </br>
                                            <div class="form-group">
                                                <select class="form-control" id="parallel" >
                                                    {% for i in range(1, value+1) %}
                                                        <option value="{{i}}">{{i}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <hr/>
                                    <div class="row">

                                        <div class="col-sm-6">
                                            <h5>
                                                Alleles
                                                <span class="badge badge-info" data-toggle="tooltip" data-placement="right" title="Choose the allele(s) to perform binding prediction. Each method have a specific set of alleles because there is too little experimental data available to generate the allele/peptide length combination">?</span>
                                            </h5>
                                            </br>
                                            <div class="form-group">
                                                <select multiple class="form-control" id="allele" name="-a"></select>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input id="allele-check-all" type="checkbox" class="form-check-input" value="">Select all
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input id="allele-check-predicted" type="checkbox" class="form-check-input" value="">Select predicted
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <h5>
                                                Predicted Alleles
                                                <span class="badge badge-info" data-toggle="tooltip" data-placement="right" title="List with all predicted class I alleles">?</span>
                                            </h5>
                                            </br>
                                            <div class="form-group">
                                                <textarea class="form-control" rows="4" id="p-allele" name="text" readonly></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <hr/>
                                    <button type="button" id="btn_finalstep" class="btn btn-info float-right btn-circle">></button>
                                    
                                </div>

                            </div>

                        </div>

                        <!-- -------------------- RESULTS TAB -------------------- -->

                        <div class="container tab-pane fade" id="results">

                            <h5>
                                Outputs
                            </h5>
                            </br>

                            <div class="card-columns">
                            
                                {% for file in files.keys() %}
                                    <div class="card">
                                        
                                        <div class="card-header"> 
                                            <strong>{{ file }}</strong>
                                        </div>
                                        
                                        <div class="card-body">

                                            <ul class="list-group">
                                                {% for cl in files[file]  %}
                                                    <li class="list-group-item">
                                                        <a href="sample_result?out={{file}}&sample={{cl}}" target="_blank">{{ cl }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            
                                        </div>

                                    </div>
                                    						
                                {% endfor %}

                            </div>
                        </div>

                    </div>

                </main>

            </div>

        </div>


        <!-- JAVASCRIPT FILES -->
        
        <script src="/static/lib/jquery/jquery-3.3.1.min.js"></script>
        <script src="/static/lib/popper/popper.min.js"></script>
        <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/lib/notify/bootstrap-notify.min.js"></script>
        <script src="/static/js/util.js"></script>
        <script src="/static/js/app.js"></script>

        <!-- PROCESS NOTIFICATION -->

        {% if status %}
            <script type="text/javascript">
                history.replaceState({}, document.title, "/")
                {% if status == "success" %}
                    $.notify({
                        message: "Binding Prediction is complete. Please, check the Results tab."
                    },{
                        type: "info"
                    });
                {% else %}
                    $.notify({
                        message: "Something went wrog with the Binding Prediction. Please, check your inputs and try again."
                    },{
                        type: "danger"
                    });
                {% endif %}
            </script>
        {% endif %}

    </body>

</html>

