
table {
	font-size:80%;
}

td p {
	text-align: center;
	color: white;
	padding: 5px;
}

a {
	color: #343a3f;
}

a:hover {
	color: #777685;
}

nav .active{
	color: #343a3f !important;
    background-color: white !important;
    border-left: 8px solid #343a3f;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

#container {
	padding-top: 70px;
}

#header{
	color: white;
}
#ic50_filter {
	margin-bottom: 10px;
}

#frameshift {
	background: #E07A5F;
}

#missense {
	background: #81B29A;
}

#inframe {
	background: #F2CC8F; 
}

#non_binder {
        background: #D6CBD3;
}

#weak {
        background: #B5E7A0;
}

#strong {
        background: #80CED6;
}

#intermediate {
        background: #FFEF96;
}

#ctgene {
	color: blue;
}

.tab-content {
	overflow: auto;
}
